# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg

# Ignore BLOB files
*.bin
*.dat
*.blob
*.iso
*.tar
*.zip
*.gz
*.rar
*.7z
*.dmg

# Ignore other common files
node_modules/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.tmp
*.swp
*.swo